     	
		ody,td,br{font-family:Tahoma; font-size:11px;}
		.menu{font-family:Tahoma; font-size:11px;   color:#3A3A3A; text-decoration:none;  }
		.main{font-family:Tahoma; font-size:11px;   color:#6B6B6B; text-decoration:none;  }
		.yellow{font-family:Tahoma; font-size:11px;   color:#A4C101; text-decoration:none;  }
		.bold{font-family:Tahoma; font-size:11px;   color:#B7B6B6; text-decoration:none; font-weight:900  }


